<apex:page controller="AutoCompleteController" standardStylesheets="false" sidebar="false" showHeader="false">
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <!--<apex:styleSheet value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />-->
    
    <apex:stylesheet value="{!URLFOR($Resource.SLDS080, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS080, 'assets/styles/salesforce-lightning-design-system.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS080, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS080, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    
    <style>
        .displayNone { 
            display:none; 
        }
        .displayBlock {
            display:block;
        }
        .ui-autocomplete-loading { 
            background: white url({!URLFOR($Resource.SLDS080, 'assets/images/spinners/')}slds_spinner_brand.gif) right center no-repeat;
            background-size:20px 20px; 
        }
        .placeHolder {
            font-style: italic;
        }
    </style>
    
    <apex:form id="autoCompleteForm" >
    <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="lookup">Accounts</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                <apex:inputText id="accountTextBox" value="{!searchTerm}" styleClass="placeHolder slds-input"/>
                <apex:inputHidden id="searchAccountId" value="{!selectedAccount}" />
            </div>
        </div>
    </div>
    <!--<div class="slds-lookup__menu" role="listbox">
        <ul class="slds-lookup__list" role="presentation">
        </ul>
    </div>-->
    </apex:form>
    
    <script type="text/javascript">
        var PLACEHOLDER = 'Enter Account Name Here'; 
        var accountObjects;
        var queryTerm;
        
        $('[id$=accountTextBox]').autocomplete({
            minLength: 2,
            source: function(request, response) {
                        queryTerm = request.term;
                        AutoCompleteController.searchAccount(request.term, function(result, event){
                            if(event.type == 'exception') {
                                  alert(event.message);
                            } else {
                                 accountObjects = result;
                                 response(accountObjects);
                            }
                        });
                   },
            focus: function( event, ui ) {
                    $('[id$=accountTextBox]').val( ui.item.Type );
                    return false;
                    },
            select: function( event, ui ) {
                        $('[id$=accountTextBox]').val( ui.item.Type);
                        $('[id$=searchaccountId]').val( ui.item.Id );
                        return false;
                    },
         })
         .data( "autocomplete" )._renderItem = function( ul, item ) {
            var entry = '<a role="option">' + item.Type;
           
            entry = entry + "</a>";
            entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
            $( '<li class="slds-lookup__item"></li>' ).data( "item.autocomplete", item ).append( entry ).appendTo( ul );
            $( ul ).addClass( "slds-lookup__list" );
            return ul;
        };
            
        // Add or remove placeholder values
        $('[id$=accountTextBox]').val(PLACEHOLDER);
        $('[id$=accountTextBox]').on("focus",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === PLACEHOLDER ){
                $tgt.val('');
                $tgt.removeClass('placeHolder');
            }
        });
        $('[id$=accountTextBox]').on( "blur",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
    </script>

</apex:page>