<!-- 
**************************************************************************************
 * Create By:   Deloitte Consulting LLP.
 * CreateDate:  06/09/2014
 * Description: This Pages does below processing
 *              1. Created Lead from FORM.
                2. Convert lead.
 *  
 *  Modification Log :
 *  -----------------------------------------------------------------------------
 *  * Developer                 Date                    Description
 *  * ----------------------------------------------------------------------------                 
 *  * Saurabh                 06/09/2014              Initial version.
 **************************************************************************************
-->
<apex:page sidebar="false" showHeader="false" doctype="html-5.0" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" standardController="Lead" extensions="GatherUserInformation" id="thePage">    

<!-----CSS FILES----->
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/editor.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/jquerysctipttop.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/bootstrap-datetimepicker.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/datepicker.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/jquery-ui.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/jquery-ui.structure.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/jquery-ui.theme.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/bootstrapValidator.css')}" /> 
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/animate.css')}" />     
    <apex:stylesheet value="{!URLFOR($Resource.UIFramework, '/css/gmis.css')}" />
        <html class="no-js" lang="en">
            <head>
                <style>
            
                    .star:hover{
                        text-decoration: none !important;
                        cursor: default;
                     }
                    .heading{
                        margin-left:0px !important;
                        margin-right:0px !important;
                        background-color: beige; 
                    }
                    .popover-title{
                        background: #F98787;
                    }
                    .popover{
                        padding:0px;
                    }
                    .dateFormat{
                        display:none;
                    }
                    /** Donot give static width to bootstrap classes**/
                    /*.form-control{
                        width:290px;
                        margin-bottom:20px;
                    }*/
                    .required{
                        border-left-width: 5px;
                        border-left-color: red; 
                    }
                    .breakWord{
                        word-break: break-all;
                    }
                    #datetimepicker2{
                        width:328px;
                    }
                    .control-value{
                        font-size:12px;
                        padding-top: 7px;
                        word-wrap: break-word;
                    }
                    .caseNewOrEdit{
                        font-size: .9em;
                        font-weight: bold;
                        color: #4a4a56;
                        padding-left: 1px;
                    }
                    .caseNumber {
                        font-size: 1.8em;
                        font-weight: normal;
                        line-height: 1.1em;
                    }  
                    .container-div{
                        padding-right: 5% !important; 
                        padding-left: 5% !important; 
                    }
                    .panel-heading {
                      padding: 10px 15px !important; 
                    }
                    .requiredExampleCustom {
                        border-left: 3px solid #c00;
                        font-size: 100%;
                        vertical-align: 1px;
                        width: 100%;
                        padding-left:6px !important;
                        padding-right:6px !important;
                    }
                    .requiredExampleCustomArea {
                        border-left: 3px solid #c00;
                    }
            
                    .ExampleCustom {
                        font-size: 100%;
                        vertical-align: 1px;
                        width: 100%;
                        padding-left:6px !important;
                        padding-right:6px !important;
                    }
                    .text-left {
                      text-align: left !important;
                    }
                    .starImage{
                       margin-top: 10px;
                       margin-right: 10px;
                       float:left;
                    }
                    .starImage1{
                       margin-top: 2px;
                       margin-right: 10px;
                       float:left;
                    }
                    .picklist{
                       width:90% !important;
                    }
                    .new {
                       background-color: transparent !important;
                    }
                    .paddingCheckbox{
                        padding-left: 5px;
                        padding-right:15px;
                    }
                    .handlingCheckCaseInfo {
                      padding-right: 5px;
                      padding-left: 5px;
                    }
                    .table-header{
                        background-color: lightgray;
                    }
                    .fakeField {
                      opacity: 0;
                      height: 0;
                      position: absolute;
                      z-index: -99999;
                      margin: 0;
                      width: 0;
                    }
                    .noPaddingSide{
                        padding-left:0px !important;
                        padding-right:0px !important;
                    }
                    .btnCenterAlign{
                       position:absolute; 
                       margin-left:-141px;
                       left:50%;
                       width:120px;
                       bottom:15px;
                       height:30px;
                    }
                    .modal-open {
                       height:100%;
                    }  
                    .noPaddingRight{
                        padding-right:0px;
                    } 
                    .noPaddingLeft{
                        padding-left:0px;
                    } 
                    .paddingSideMin{
                        padding-left:6px !important; 
                        padding-right:6px !important; 
                    }
                    .noPaddingLookup {
                      padding-left: 0px !important;
                      padding-right: 0px !important;
                      margin-left: 0px !important;
                      text-align: left !important;
                    }
                    .msgStyle{
                        margin-left: 16px;margin-right: 16px;margin-top: 10px;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;color: white; max-height: 125px; overflow-y: auto;
                    }
                    .error{
                        background-color:#F98787;
                    }
                    .warning{
                        background-color:#F4C447;
                    }
                    .success{
                        background-color:#92D400;
                    }
                    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
                        background-color: #98d3ed !important;
                        background-image: none !important;
                    }
                    /* Header Start */
                    .noPaddingHeader { 
                        padding: 0px !important; 
                    }
                    .bannerHeader {
                        margin:0px 0px 15px 0px; width:99%;
                    }
                    .buttonsHeader {
                        margin-top: 25px;
                    }
                    .legendHeader {
                        margin-top: 27px;
                    }
                    #bg{
                        -webkit-background-size: cover; 
                        -moz-background-size: cover; 
                        -o-background-size: cover; 
                        background-size: cover; 
                        
                    }
                    .requiredHeader {
                        border-left: 3px solid #c00;
                        font-size: 100%;
                        vertical-align: 1px;
                        width: 100%;
                        padding-left:2px !important;
                        padding-right:2px !important;
                    }
                    .headerPageMessages{
                      width: 97.5%;
                      margin-left: 15px;
                      margin-bottom: 15px;
                      height: inherit;
                    }                                        
                    @media screen and (max-width:768px) { .headerRemoveMargin { margin-top: -15px !important; margin-bottom: 10px !important;}}
                    @media screen and (max-width:992px) { .headerRemoveMargin { margin-top: -15px !important; margin-bottom: 10px !important;}}
                    
                    /* Header End */   
                </style>
                <meta charset="utf-8"/> 
                <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                <title>Gather user information</title>
                <meta name="description" content=""/>
                <meta name="keywords" content=""/>                
                <link rel="icon" type="image/x-icon" href="{!URLFOR($Resource.assets, 'img/favicon.ico')}"/>
                
                <!-- Add to homescreen for Safari on iOS -->
                <meta name="apple-mobile-web-app-capable" content="yes"/>
                <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
                <meta name="apple-mobile-web-app-title" content="Member Connect"/>
                
                <!-- Add to homescreen for Safari on iOS device specific -->
                <link rel="apple-touch-icon" sizes="76x76" href="{!URLFOR($Resource.assets, 'img/touch/touch-icon-ipad.png')}"/>
                <link rel="apple-touch-icon" sizes="152x152" href="{!URLFOR($Resource.assets, 'img/touch/touch-icon-ipad-retina.png')}"/>
                
                <apex:includeScript value="{!URLFOR($Resource.assets, 'js/modernizr.js')}" />
                <apex:stylesheet value="{!URLFOR($Resource.assets, 'css/mc-styles.css')}"/>
                <!-- JS: VENDOR -->
                <apex:includeScript value="{!URLFOR($Resource.assets, 'js/libs.js')}" />
                <apex:includeScript value="https://c.la3-c1cs-was.salesforceliveagent.com/content/g/js/32.0/deployment.js"/>
                <!-- JS: site-wide -->
                <apex:includeScript value="{!URLFOR($Resource.assets, 'js/mc-scripts.js')}" />
                <script>
                    function saveLeadInformation2() {
                        var isChecked = document.getElementById("tobacooNoValue").checked;
                        if (isChecked) {
                            saveLeadInformation('No');
                        }
                        else {
                            saveLeadInformation('Yes');
                        }
                    }
                </script>
            </head>                
            <body class="mc-welcome-page fade-in">                
                <div class="page-wrap">
                    <header class="site-header">
                        <div class="wrapper row">
                            <div class="site-logo col-sm-12 col-md-3 col-lg-3">
                                <a href="#">Makana Health</a>
                            </div>
                            <nav class="site-nav-primary col-sm-6 col-md-6 col-lg-6" role="navigation" aria-label="Primary">                            
                                <ul class="nav-primary-ul">
                                    <li class="link"><a href="">Home</a></li>
                                    <li class="link"><a href="" class="active">Shop</a></li>
                                    <li class="link"><apex:outputLink value="https://dev1-makanahealth.cs21.force.com/MakanaLogin">Login</apex:outputLink></li>
                                    <li class="link"><a href="">Register</a></li>
                                    <li class="link"><a href="">Contact</a></li>
                                    <li class="link"><apex:outputLink value="{! $Page.pkb_Home}">Search our KB</apex:outputLink></li>                                    
                                </ul>
                            </nav>
                            <div class="header-right-section col-sm-13 col-md-13 col-lg-13">                            
                                <div class="live-chat-link" data-element="livechat">                
                                    <span style="display:none;" class="icon-chat state-offline" id="liveagent_button_offline_573q0000000008H">Chat Offline</span>
                                    <a style="display:none;" href="#" class="icon-chat state-online" id="liveagent_button_online_573q0000000008H">Chat Online</a>
                                </div>
                                
                                <div class="site-search" data-element="search">
                                    <form/>
                                    <form action="#" class="search-form">
                                        <input type="search" class="search-inp" name="" value="" placeholder="Search"/>
                                    </form>
                                </div>                              
                            </div>
                            <section class="livechat" id="livechat"></section> 
                        </div>
                    </header>
                    <apex:form id="leadInfo" styleClass="pageForm">
                    <apex:pageMessages />
                <apex:actionFunction name="saveLeadInformation" action="{!saveLeadInformation}" reRender="leadInfo">
                    <apex:param name="firstParam" assignTo="{!leadTobacco}" value="" />
                </apex:actionFunction>
                <apex:actionFunction name="onSelectOfPlan" action="{!onSelectOfPlan}" reRender="leadInfo"/>
                <apex:actionFunction name="onViewOtherPlan" action="{!onViewOtherPlan}" reRender="leadInfo"/>
                <apex:actionFunction name="enrollRedirect" action="{!enrollRedirect}" reRender="leadInfo"/>
                    <!-- *********************************************************** FIRST SCREEN STARTS ********************************************************** -->         
                    <apex:outputPanel rendered="{!firstScreen}"> 
                        <div class="wrapper bdy-wrap bd-content">
                            <section class="user-details page-content-box">    
                                <div class="form-title-section">
                                    <h1>Great, let's get started!</h1>
                                    <span class="title-desc">
                                        First, we'll need to ask you a few questions.
                                    </span>
                                </div>                            
                                <div class="form-row">
                                    <label class="from-label">Name</label>
                                    <!-- <apex:inputText styleClass="form-input leadName" value="{!leadName}" id="leadName"/> -->
                                    <apex:inputField styleClass="form-input leadName inputField" value="{!Lead.Name}" id="leadName"/>
                                </div>
                                <div class="form-row">
                                    <!--<label class="from-label">Gender</label>-->
                                    <label class="from-label">Industry</label>
                                    <!--<span class="form-select">
                                        <apex:selectList id="chooseGender" value="{!leadGender}" size="1">
                                            <apex:selectOption itemValue="Female" itemLabel="Female"/>
                                            <apex:selectOption itemValue="Male" itemLabel="Male"/>
                                        </apex:selectList>   
                                    </span>-->
                                    <apex:inputField styleClass="form-select inputField" value="{!Lead.Industry}"/>
                                </div>
                                <div class="form-row">
                                    <label class="from-label">Date of Birth</label>
                                    <!--<apex:input id="leadDOB" styleClass="form-date glow-border" type="date" value="{!leadDOB}" html-placeholder="YYYY-MM-DD"/>-->
                                    <apex:inputField styleClass="datePicker inputField form-input glow-border" id="inputLookup" value="{!Lead.Date_of_Birth__c}"/>
                                </div>
                                <div class="form-row">
                                    <label class="from-label">Existing Opportunity</label>
                                    <apex:inputField styleClass="inputField checkField form-input classWidth" value="{!Lead.Existing_Opportunity__c}"/>
                                </div>
                                <div class="form-row">
                                    <label class="from-label">Zip Code/County</label>
                                    <apex:inputText styleClass="form-input zip-code" value="{!leadZipcode}" id="leadZipcode"/>
                                    <span class="form-select padding-left-10">
                                        <apex:selectList id="chooseCounty" value="{!leadCounty}" size="1">
                                            <apex:selectOption itemValue="Dallas County" itemLabel="Dallas County"/>
                                            <apex:selectOption itemValue="Denver" itemLabel="Denver"/>
                                        </apex:selectList>
                                    </span>
                                </div>
                                <div class="form-row radio-row" >
                                    <label class="from-label">Tobacco Use</label>
                                    <label class="radio-btn">
                                        <input id="tobacooNoValue" type="radio" checked="checked" value="no" name="smoker"/>
                                        <span>No</span>
                                    </label>
                                    <label class="radio-btn">
                                        <input type="radio" value="yes" name="smoker"/>
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="from-label">Fitness Interest</label>
                                    <span class="form-select">
                                        <apex:selectList id="chooseInterest" value="{!leadInterest}" size="1">
                                            <apex:selectOption itemValue="Cycling" itemLabel="Cycling"/>
                                            <apex:selectOption itemValue="Pilates" itemLabel="Pilates"/>
                                            <apex:selectOption itemValue="Spinning" itemLabel="Spinning"/>
                                            <apex:selectOption itemValue="Swimming" itemLabel="Swimming"/>
                                            <apex:selectOption itemValue="Running" itemLabel="Running"/>
                                            <apex:selectOption itemValue="Skiing" itemLabel="Skiing"/>
                                            <apex:selectOption itemValue="Snowboarding" itemLabel="Snowboarding"/>
                                            <apex:selectOption itemValue="Surfing" itemLabel="Surfing"/>
                                            <apex:selectOption itemValue="Walking" itemLabel="Walking"/>
                                            <apex:selectOption itemValue="Weights" itemLabel="Weights"/>
                                            <apex:selectOption itemValue="Yoga" itemLabel="Yoga"/>
                                        </apex:selectList>
                                    </span>
                                    <div class="hint-text">(This one will help us recommend a fitness device you'll love!)</div>
                                </div>
                                <div class="btn-container">
                                <a class="green-btn continue-btn user-info-form-submit" href="#" onClick="saveLeadInformation2();">Continue</a>
                            </div>
                          </section>
                        </div>
                    </apex:outputPanel>
                    <!-- *********************************************************** FIRST SCREEN ENDS ********************************************************** -->
                    <!-- *********************************************************** SECOND SCREEN STARTS ********************************************************** -->                                            
                    <apex:outputPanel rendered="{!secondScreen}">
                        <script>                             
                            jQuery(function($){
                                $('body').removeClass().addClass('mc-compare-plans-page');
                            });
                        </script>
                        <h1 class="title-section">Hi {!leadName}! Explore these recommended plans to learn more.</h1>
                        <div class="wrapper bdy-wrap bd-content fade-in">                            
                            <div class="compare-plans plan-columns">
                                <section class="small-col bronze-plan slide-in left">
                                    <div class="plan-details">
                                        <h2>Bronze Plan</h2>
                                        <ul class="plan-info">
                                            <li>
                                                Annual Deductible
                                                <span>$5000</span>
                                            </li>
                                            <li>
                                                Out of Pocket Maximum
                                                <span>$6200</span>
                                            </li>
                                            <li>
                                                Office Visit Copay
                                                <span>N/A</span>
                                            </li>
                                            <li>
                                                Plan Pharmacy
                                                <span>80% after Deductible</span>
                                            </li>
                                        </ul>
                                        <ul class="plan-features">
                                            <li>Lowest monthly cost</li>
                                            <li>Highest deductible</li>
                                            <li>Pay full costs until<br/> deductible is met</li>
                                        </ul>
                                    </div>
                                    <div class="plan-price">
                                        Your monthly premium
                                        <h3 class="price">$163<span>/month</span></h3>
                                        <a href="#" class="plan-select primary-btn" onClick="onSelectOfPlan();">Explore This Plan</a>
                                    </div>
                                </section>
                        
                                <section class="large-col silver-plan zoom-plan">
                                    <div class="plan-details">
                                        <h2 data-title="Great Value">Silver Plan</h2>
                                        <div class="row plan-info">
                                            <ul class="col-sm-7">
                                                <li>
                                                    Annual Deductible
                                                    <span>$3000</span>
                                                </li>
                                                <li>
                                                    Out of Pocket Maximum
                                                    <span>$5800</span>
                                                </li>
                                            </ul>
                                            <ul class="col-sm-5">
                                                <li>
                                                    Office Visit Copay
                                                    <span>$30</span>
                                                </li>
                                                <li>
                                                    Plan Pharmacy
                                                    <span>$0</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row plan-features">
                                            <ul class="col-sm-7">
                                                <li>Highest monthly cost</li>
                                                <li>Lower deductible</li>
                                            </ul>
                                            <ul class="col-sm-5">
                                                <li>Low copay</li>
                                                <li>Pharmacy copay</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="plan-price">
                                        Your monthly premium
                                        <h3 class="price">$290<span>/month</span></h3>
                                        <a href="#" class="plan-select green-btn" onClick="onSelectOfPlan();">Explore This Plan</a>                                                                                 
                                    </div>
                                </section>
                        
                                <section class="small-col gold-plan slide-in right">
                                    <div class="plan-details">
                                        <h2>Gold Plan</h2>
                                        <ul class="plan-info">
                                            <li>
                                                Annual Deductible
                                                <span>$1500</span>
                                            </li>
                                            <li>
                                                Out of Pocket Maximum
                                                <span>$3000</span>
                                            </li>
                                            <li>
                                                Office Visit Copay
                                                <span>$10</span>
                                            </li>
                                            <li>
                                                Plan Pharmacy
                                                <span>$0</span>
                                            </li>
                                        </ul>
                                        <ul class="plan-features">
                                            <li>Highest monthly cost</li>
                                            <li>Lowest deductible</li>
                                            <li>Lowest copay</li>
                                            <li>Pharmacy copay</li>
                                        </ul>
                                    </div>
                                    <div class="plan-price">
                                        Your monthly premium
                                        <h3 class="price">$294<span>/month</span></h3>
                                        <a href="#" class="plan-select primary-btn" onClick="onSelectOfPlan();">Explore This Plan</a>
                                    </div>
                                </section>
                            </div>
                        </div>                        
                    </apex:outputPanel>
                    <!-- *********************************************************** SECOND SCREEN ENDS ********************************************************** -->
                    <!-- *********************************************************** THIRD SCREEN STARTS ********************************************************** -->                                         
                    <apex:outputPanel rendered="{!thirdScreen}">
                        <script>
                            jQuery(function($) {
                                $('body').removeClass().addClass('mc-plan-details-page');
                            });
                        </script>
                        <div class="wrapper bdy-wrap bd-content fade-in">
                            <section class="selected-plan-details">
                                <article class="plan silver-plan box">
                                    <h2>You've Selected the Silver Plan</h2>
                                    <div class="row">
                                        <div class="col-sm-4 plan-price-details">
                                            <ul class="plan-price-details-ul">
                                                <li>
                                                    <span class="font-18">Your monthly premium</span>
                                                    <span class="price-text">$290</span>
                                                    Estimated
                                                    <span class="font-18 font-regular">$3104</span>/year
                                                </li>
                                                <li>
                                                    <a href="#" onClick="enrollRedirect();" class="green-btn enroll-now-btn">Enroll Now!</a>
                                                </li>
                                                <li>
                                                    <span class="print-icon print-init">print</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-8 plan-details">
                                            <div class="row plan-info">
                                                <ul class="col-sm-5">
                                                    <li>
                                                        Individual Annual Deductible
                                                        <span>$3000</span>
                                                    </li>
                                                    <li>
                                                        Family Deductible
                                                        <span>$9000</span>
                                                    </li>
                                                    <li>
                                                        Coinsurance
                                                        <span>80%</span>
                                                    </li>
                                                    <li>
                                                        Out of Pocket Maximum
                                                        <span>$5800</span>
                                                    </li>
                                                </ul>
                                                <ul class="col-sm-7">
                                                    <li>
                                                        Office Visit Copay
                                                        <span>$30</span>
                                                    </li>
                                                    <li>
                                                        Lifetime Benefit
                                                        <span>No Limit</span>
                                                    </li>
                                                    <li>
                                                        Outpatient Hospital/Physician Care
                                                        <span>80% Coinsurance after Deductible</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <div class="row reset-cols coverage-container">
                                    <article class="coverage-details col-sm-8">
                                        <div class="box">
                                            <h2>Medical Coverage Details</h2>
                                            <ul>
                                                <li>Preventative Care
                                                    <strong>100%</strong>
                                                </li>
                                                <li>Maternity Coverage
                                                    <strong>$250 Copay then 80% Coinsurance after Deductible</strong>
                                                </li>
                                                <li>Outpatient Physician Medical Services
                                                    <strong>80% Coinsurance after Deductible</strong>
                                                </li>
                                                <li>Outpatient Physician Surgical Services
                                                    <strong>80% Coinsurance after Deductible</strong>
                                                </li>
                                                <li>Inpatient Physician Medical/Surgical Services
                                                    <strong>80% Coinsurance after Deductible</strong>
                                                </li>
                                                <li>Outpatient Hospital Services (Including Surgery)
                                                    <strong>$200 Copay then 80% Coinsurance After Deductible</strong>
                                                </li>
                                                <li>Outpatient Hospital Diagnostic Testing
                                                    <strong>$500 Copay then 80% Coinsurance After Deductible</strong>
                                                </li>
                                                <li>Mental Illness Treatment and Substance Abuse Rehab-Outpatient Hospital/Physician Care
                                                    <strong>$35 Copay</strong>
                                                </li>
                                                <li>Mental Illness Treatment and Substance Abuse Rehab-Inpatient Hospital Care
                                                    <strong>$250 Copay then 80% Coinsurance After Deductible</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>
                                    <aside class="plan-details-sidebar col-sm-4">
                                        <div class="box">
                                            <h2>Outpatient Prescription Drug Details</h2>
                                            <ul>
                                                <li>Preferred Generics
                                                    <strong>$0</strong>
                                                </li>
                                                <li>Non-Preferred Generics
                                                    <strong>$10</strong>
                                                </li>
                                                <li>Preferred Formulary
                                                    <strong>$50</strong>
                                                </li>
                                                <li>Non-Preferred Formulary
                                                    <strong>$100</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box spacer-top-4">
                                            <h2>Cost Reductions</h2>
                                            <ul>
                                                <li>Tax Credit Eligible
                                                    <strong>Yes</strong>
                                                </li>
                                                <li>Cost Sharing Eligible
                                                    <strong>No</strong>
                                                </li>
                                                <li>Health Savings Account Eligible
                                                    <strong>No</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div>
                                <div class="btn-container">
                                    <a class="primary-btn" href="#" onClick="onViewOtherPlan();">View Other Plans</a>
                                </div>
                            </section>
                        </div> 
                    </apex:outputPanel>
                    <!-- *********************************************************** THIRD SCREEN ENDS ********************************************************** -->                   
               </apex:form>              
               </div>
            </body>
        </html>           
</apex:page>