<apex:page docType="html-5.0" sidebar="false" showHeader="false" applyBodyTag="false" applyHtmlTag="false" standardStyleSheets="false">
	<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<head>
			<title>LDS Date picker</title>
			<apex:stylesheet value="{!URLFOR($Resource.SLDS090,'assets/styles/salesforce-lightning-design-system-vf.css')}"/>
			<script>
				var mapMonths = {};
				var mapMonthsInverse = {};
				var mapWeekdays = {};
				var mapWeekdaysInverse = {};
				window.onload = function(){
					//### initialize months map
					mapMonths["0"] = "January";
					mapMonths["1"] = "February";
					mapMonths["2"] = "March";
					mapMonths["3"] = "April";
					mapMonths["4"] = "May";
					mapMonths["5"] = "June";
					mapMonths["6"] = "July";
					mapMonths["7"] = "August";
					mapMonths["8"] = "September";
					mapMonths["9"] = "October";
					mapMonths["10"] = "November";
					mapMonths["11"] = "December";
					
					mapMonthsInverse["January"] = 0;
					mapMonthsInverse["February"] = 1;
					mapMonthsInverse["March"] = 2;
					mapMonthsInverse["April"] = 3;
					mapMonthsInverse["May"] = 4;
					mapMonthsInverse["June"] = 5;
					mapMonthsInverse["July"] = 6;
					mapMonthsInverse["August"] = 7;
					mapMonthsInverse["September"] = 8;
					mapMonthsInverse["October"] = 9;
					mapMonthsInverse["November"] = 10;
					mapMonthsInverse["December"] = 11;
					
					mapWeekdays["Sunday"] = 0;
					mapWeekdays["Monday"] = 1;
					mapWeekdays["Tuesday"] = 2;
					mapWeekdays["Wednesday"] = 3;
					mapWeekdays["Thursday"] = 4;
					mapWeekdays["Friday"] = 5;
					mapWeekdays["Saturday"] = 6;
					
					mapWeekdaysInverse[0] = "Sunday";
					mapWeekdaysInverse[1] = "Monday";
					mapWeekdaysInverse[2] = "Tuesday";
					mapWeekdaysInverse[3] = "Wednesday";
					mapWeekdaysInverse[4] = "Thursday";
					mapWeekdaysInverse[5] = "Friday";
					mapWeekdaysInverse[6] = "Saturday";
					
					//hideDatePicker();
					setYearSelected(getCurrentDate().getFullYear(),"false");
					setMonth(mapMonths[getCurrentDate().getMonth()]+'');
					generateDates(2015,8,19);
				}
				function getCurrentDate(){
					return new Date();
				}
				function showDatePicker(){
					document.getElementById("dtp_datePicker").style.display = "block";
				}
				function hideDatePicker(){
					document.getElementById("dtp_datePicker").style.display = "none";
				}
				function setYearSelected(pYearSelected,removeDropDown){
					document.getElementById("dtp_yearText").innerHTML = pYearSelected;
					if(removeDropDown == "true"){
						removeYearsDropDown();
					}
					generateDates(getYearSelected(),getMonthSelected(),1);
				}
				function getYearSelected(){
					return parseInt(document.getElementById("dtp_yearText").innerHTML);
				}
				function removeYearsDropDown(){
					var objYrsDrpDwn = document.getElementById("dtp_yearsDropDown");
					objYrsDrpDwn.removeChild(document.getElementById("dtp_DivYearsDrpDwn"));
				}
				function showYearsDropDown(){
					var objYrsDrpDwn = document.getElementById("dtp_yearsDropDown");
					if(objYrsDrpDwn.childNodes.length == 1){
						var dateYear = getCurrentDate().getFullYear();
						var objUL = document.createElement("ul");
						objUL.className = 'slds-dropdown__list';
						objUL.setAttribute('role',"menu");
						var objDiv = document.createElement("div");
						objDiv.setAttribute('id',"dtp_DivYearsDrpDwn");
						objDiv.setAttribute('class',"slds-dropdown slds-dropdown--left slds-dropdown--small slds-dropdown--menu");
						objDiv.setAttribute('aria-expanded',"false");
						for(loopVar=0; loopVar<=3; loopVar++){
							//### Creating Anchor tag
							var objAnchor = document.createElement("a");
							objAnchor.className = 'slds-truncate';
							objAnchor.innerHTML = dateYear;
							objUL.setAttribute('role',"menuitemradio");
							objUL.setAttribute('href',"#");
							
							//### Creating 'li'
							var objLI = document.createElement("li");
							objLI.className = 'slds-dropdown__item slds-has-icon--left'; 
							objLI.setAttribute('onclick',"setYearSelected(this.childNodes[0].innerHTML,'true');");
							objLI.appendChild(objAnchor);
							
							objUL.appendChild(objLI);
							dateYear += 1;
						}
						objDiv.appendChild(objUL);
						objYrsDrpDwn.appendChild(objDiv);
					}
					else if(objYrsDrpDwn.childNodes.length > 1){
						removeYearsDropDown();
					}
				}
				function setMonth(strMonthName){
					document.getElementById("dtp_monthName").innerHTML = strMonthName;
				}
				function getMonthSelected(){
					return mapMonthsInverse[document.getElementById("dtp_monthName").innerHTML];
				}
				function gotoNextMonth(){
					var objDivMonth = document.getElementById("dtp_monthName");
					var monthNumber = mapMonthsInverse[objDivMonth.innerHTML];
					monthNumber = (monthNumber+1)%12;
					if(monthNumber == 0){
						var intYear = getYearSelected();
						intYear += 1;
						setYearSelected(intYear+'',"false");
					}
					setMonth(mapMonths[monthNumber]);
					generateDates(getYearSelected(),getMonthSelected(),1);
				}
				function gotoPreviousMonth(){
					var objDivMonth = document.getElementById("dtp_monthName");
					var monthNumber = mapMonthsInverse[objDivMonth.innerHTML];
					monthNumber -= 1;
					if(monthNumber < 0){
						monthNumber = 11;
						var intYear = getYearSelected();
						intYear -= 1;
						setYearSelected(intYear+'',"false");
					}
					setMonth(mapMonths[monthNumber]);
					generateDates(getYearSelected(),getMonthSelected(),1);
				}
				function generateDates(intYear,intMonth,intDate){
					var objFirstDay = new Date(intYear,intMonth,1);
					var objLastDay = new Date(intYear,intMonth+1,0);
					var objPrevMonthLastDay = (new Date(intYear,intMonth,0)).getDate();
					var objPrevMonthLastDayStart = objPrevMonthLastDay-(objFirstDay.getDay()-1);
					var intNextMnthStartDate = 1;
					var intNumOfActiveDays = objLastDay.getDate() - objFirstDay.getDate();
					var objCalDays = document.getElementById("dtp_calenderDays");
					var objTR,objTD,objSpan;
					var dateToday = getCurrentDate();
					var tempNum = 1;
					var intDateTracker = 1;
					var boolPutTempNum = false;
					
					//### remove previous date picker
					while (objCalDays.hasChildNodes()) {
					    objCalDays.removeChild(objCalDays.lastChild);
					}
					//### Date picker is a 6X7 matrix
					for(loopVar=1; loopVar<=6; loopVar++){
						objTR = document.createElement("tr");
						for(loopVarInner=1; loopVarInner<=7; loopVarInner++){
							objTD = document.createElement("td");
							//### generate previous month dates (show them inactive)
							if(objFirstDay.getDay() > 0 && objPrevMonthLastDayStart <= objPrevMonthLastDay){
								tempNum = objPrevMonthLastDayStart++;
								objTD.setAttribute('class',"slds-disabled-text");
								boolPutTempNum = true;
							}
							//### generate next month dates (show them inactive)
							else if(intDateTracker > objLastDay.getDate()){
								tempNum = intNextMnthStartDate++;
								objTD.setAttribute('class',"slds-disabled-text");
								boolPutTempNum = true;
							}
							objTD.setAttribute('aria-selected',"false");
							objTD.setAttribute('headers',mapWeekdaysInverse[loopVarInner-1]);
							objTD.setAttribute('role',"gridcell");
							//objTD.setAttribute('aria-disabled',"true");
							if(intDateTracker == dateToday.getDate() && intMonth == dateToday.getMonth() && intYear == dateToday.getFullYear()){
								objTD.setAttribute('class',"slds-is-today");
							}
							if(intDateTracker == intDate && intMonth == dateToday.getMonth() && intYear == dateToday.getFullYear()){
								objTD.setAttribute('class',"slds-is-selected");
								objTD.setAttribute('aria-selected',"true");
							}
							
							objSpan = document.createElement("span");
							objSpan.setAttribute('class',"slds-day");
							objSpan.innerHTML = (boolPutTempNum)? tempNum : intDateTracker++;
							boolPutTempNum = false;
							
							objTD.appendChild(objSpan);
							objTR.appendChild(objTD);
						}
						objCalDays.appendChild(objTR);
					}
				}
			</script>
		</head>
		<body>
			<div class="slds">
				<div class="myapp">
					<form class="slds-form--stacked">
						<div class="slds-form--stacked slds-float--left">
						  <div class="slds-form-element">
						    <label class="slds-form-element__label" for="date">Date Picker Label</label>
						    <div class="slds-form-element__control">
						      <div class="slds-input-has-icon slds-input-has-icon--right">
						        <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
						          <use xlink:href="/resource/1442408803000/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
						        </svg>
						        <input id="date" class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label"/>
						      </div>
						    </div>
						  </div>
						  <div id="dtp_datePicker" class="slds-dropdown slds-dropdown--left slds-datepicker" aria-hidden="false" data-selection="single">
						    <div class="slds-datepicker__filter slds-grid">
						      <div class="slds-datepicker__filter--month slds-grid slds-grid--align-spread slds-size--3-of-4">
						        <div class="slds-align-middle">
						          <button class="slds-button slds-button--icon-container" onclick="gotoPreviousMonth();return false;">
						            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
						              <use xlink:href="/resource/1442408803000/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
						            </svg>
						            <span class="slds-assistive-text">Previous Month</span>
						          </button>
						        </div>
						        <h2 id="month" class="slds-align-middle" aria-live="assertive" aria-atomic="true"><div id="dtp_monthName"></div></h2>
						        <div class="slds-align-middle">
						          <button class="slds-button slds-button--icon-container" onclick="gotoNextMonth();return false;">
						            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
						              <use xlink:href="/resource/1442408803000/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
						            </svg>
						            <span class="slds-assistive-text">Next Month</span>
						          </button>
						        </div>
						      </div>
						      <div class="slds-picklist datepicker__filter--year slds-shrink-none">
						        <button id="dtp_year" class="slds-button slds-button--neutral slds-picklist__label" aria-haspopup="true" onclick="showYearsDropDown();return false;">
						          <div id="dtp_yearText"></div>
						          <svg aria-hidden="true" class="slds-icon slds-icon--small">
						            <use xlink:href="/resource/1442408803000/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
						          </svg>
						        </button>
						        <div id="dtp_yearsDropDown">
						        	
						        </div>
						      </div>
						    </div>
						    <table class="datepicker__month" role="grid" aria-labelledby="month">
						      <thead>
						        <tr id="weekdays">
						          <th id="Sunday">
						            <abbr title="Sunday">S</abbr>
						          </th>
						          <th id="Monday">
						            <abbr title="Monday">M</abbr>
						          </th>
						          <th id="Tuesday">
						            <abbr title="Tuesday">T</abbr>
						          </th>
						          <th id="Wednesday">
						            <abbr title="Wednesday">W</abbr>
						          </th>
						          <th id="Thursday">
						            <abbr title="Thursday">T</abbr>
						          </th>
						          <th id="Friday">
						            <abbr title="Friday">F</abbr>
						          </th>
						          <th id="Saturday">
						            <abbr title="Saturday">S</abbr>
						          </th>
						        </tr>
						      </thead>
						      <tbody id="dtp_calenderDays">
						        
						      </tbody>
						    </table>
						  </div>
						</div>
					</form>
				</div>
			</div>
		</body>
	</html>
</apex:page>